<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key ="YandexGPSApiRequest" value = "https://geocode-maps.yandex.ru/1.x/?geocode={coordinates}&amp;kind={toponym}&amp;lang={lang}" />
    </appSettings>
</configuration>